// TODO
@import '../styles/common.module.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;

  .post {
    display: flex;
    flex-direction: column;
    gap: 24px;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        &:hover {
          color: $body-color;
        }
      }
      span {
        font-size: 18px;
        line-height: 22px;
        color: $body-color;
      }
    }

    .info {
      display: flex;
      gap: 24px;

      div {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          font-size: 14px;
          color: $info-color;
        }
      }
    }
  }
  .loadPosts {
    color: $highlight-color;
    border: none;
    width: 176px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    &:hover {
      cursor: pointer;
    }
  }
}
